.box{
    width: 100px;
    height: 100px;
    margin: auto;
    background: linear-gradient(to left, black ,yellow ,grey );
}

.box1{
    width: 100px;
    height: 100px;
    margin:50px auto;
    background: linear-gradient(to left, black 30%,black,yellow 40%,yellow,grey ,grey);
}

.box2{
    width: 100px;
    height: 100px;
    margin:50px auto;
    background:repeating-radial-gradient(yellow 10px,yellow 20px,red 10px,red 30px)
}