.square{
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition-duration: 3s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.99,-0.4, 0.45, 0.94);
}

.square:hover{
    background-color: yellowgreen;
    width: 400px;
}

.circle{
    width: 100px;
    height: 300px;
    border-radius: 50%;
    background-color: violet;
}